@if (flashcards.length > 0) {
  <section class="flashcard-container">
    <h2>Flashcard {{ currentIndex + 1 }} de {{ flashcards.length }}</h2>

    <!-- perspectiva está no container -->
    <div class="card-wrapper"  tabindex="0" role="button" [attr.aria-pressed]="showAnswer">
      <div class="card" [class.flipped]="showAnswer">
        <div class="card-face card-front">
          <h3>{{ flashcards[currentIndex].enunciado }}</h3>
        </div>

        <div class="card-face card-back">
          <p>{{ flashcards[currentIndex].resposta }}</p>
        </div>
      </div>
    </div>

    <button (click)="toggleAnswer()">mostrar resposta</button>

    <div class="controls">
      <button (click)="previousCard(); $event.stopPropagation()">← Anterior</button>
      <button (click)="nextCard(); $event.stopPropagation()">Próximo →</button>
    </div>
  </section>
} @else {
  <p>Carregando flashcards...</p>
}
