.flashcard-container {
  text-align: center;
  padding: 20px;
  perspective: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;;

  background: 
    url("/imgs/backgroundElipse.png") no-repeat center center,
    linear-gradient(180deg, var(--secundary) 0%, var(--primary) 150%) !important;
    background-size: cover, cover; /* imagem e gradiente cobrem toda a tela */
    background-attachment: fixed;  /* opcional: fixa o fundo durante a rolagem */
    margin: 0;
  height: 100vh;
  /* essencial para ver o 3D */

  .card-wrapper {
    display: inline-block;
    width: 290px;
    height: 450px;
    cursor: pointer;
    outline: none;
  }

  .card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d; /* essencial */
    transition: transform 0.6s cubic-bezier(.4, .2, .2, 1);
    will-change: transform;
  }

  /* quando a classe for aplicada, gira 180deg no eixo Y */
  .card.flipped {
    transform: rotateY(180deg);
  }

  .card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;            /* importante */
    -webkit-backface-visibility: hidden;    /* safari */
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    padding: 16px;
    box-sizing: border-box;
  }

  .card-front {
    color: black !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
  }
 
  .card-back {
    background: linear-gradient(180deg, var(--primary) 0%, var(--secundary) 180%) !important;
    color: var(--white);
    transform: rotateY(180deg); /* mostra o verso quando o pai girar */
  }

  .controls {
    margin-top: 16px;
    button {
      margin: 0 6px;
      padding: 8px 14px;
      border-radius: 8px;
      border: none;
      cursor: pointer;
    }
  }
}
