
<section>
    <header>
        <div class="container">
            <div class="logo">
                <img src="imgs/Logo-notext.png" alt="">
            </div>
            <div>
                <i class="bi bi-person-circle"></i>
            </div>
        </div>
        <div class="text">
            Ola, Breno <br>
            <h1>Bem-vindo de Volta</h1>
        </div>
    </header>
    <div class="decks">
        
        <h3>Meus decks: </h3>
        <app-decks />
    </div>

    <app-menu />
</section>



