@for (item of deck; track item.id) {
  @if (deck.length == 0) {
    <h1>Nenhum deck cadastrado</h1>
  }@else {
    <section>
  
      <img src="imgs/img1.webp" alt="">
      
        <div class="text">
          <p>{{ item.nome }}</p>
          <ul>
        
            <p>Total:{{item.flashcards.length}}</p>
            
          </ul>
          
        </div>
  
        <div class="botao">
          <button (click)="openDialog(item.id)">
            <i class="bi bi-plus-lg"></i>
          </button>
          <button>
            <i class="bi bi-pencil-square"></i>
          </button>
          <button class="play">
            <i class="bi bi-play-fill"></i>
          </button>
        </div>
    
    </section>
  }
}


