section {
   
    width: 330px;
    height: 80px;
    border-radius: 15px;
    padding: 5px;
    display: flex;

    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    img {
        height: 100%;
        border-radius: 15px;
    }
}