<header>
  <div class="itens">
      <div class="logo">
          <img src="imgs/Logo-notext.png" alt="">
      </div>
      <div>
          <i class="bi bi-person-circle"></i>
      </div>
  </div>
</header>


<section class="container">

    <h1><i class="bi bi-arrow-left" (click)="Home()"></i>editar coleção</h1>
  @if (colecao) {
    <form (ngSubmit)="salvarColecao()">
      <label>Nome:</label>
      <input type="text" [(ngModel)]="colecao.nome" name="nome" />

      <h3>Flashcards</h3>

      @for (item of flashcards; track $index) {
        <div class="flashcard">
          <label>Enunciado:</label>
          <input
            type="text"
            [(ngModel)]="item.enunciado"
            name="enunciado{{$index}}"
          />

          <label>Resposta:</label>
          <input
            type="text"
            [(ngModel)]="item.resposta"
            name="resposta{{$index}}"
          />
        </div>
      }
     
    </form>
    <div class="btn">
      <button class="Deletar" (click)="Deletar()"><i class="bi bi-trash3-fill"></i></button>
      <button type="submit">Salvar Alterações</button>
    </div>
  } @else {
    <p>Carregando coleção...</p>
  }
</section>
